{% extends 'workspace/workspaceBase.html.twig' %}
{% block addClass %}
    href="{{ path('teacher_add_class', {'organisation': organisation }) }}"
{% endblock %}

{% block listClass %}
    href="{{ path('teacher_list_classes', {'organisation': organisation}) }}"
{% endblock %}

{% block addExam %}
    href="{{ path('teacher_create_exam', {'organisation': organisation}) }}"
{% endblock %}

{% block listExam %}
    href="{{ path('teacher_list_exams', {'organisation': organisation}) }}"
{% endblock %}

{% block main %}

    <section id="register">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Dodawanie zadań</h2>
                    <p class="lead">W celu dodania zadania/zadań prosimy wypełnić poniższy formularz</p>
                    <div class="col-8 mx-auto mt-5">
                        {{ form_start(form,{'attr':{'class':'form-material m-t-40'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}