{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}
{% block body %}
    <a class="nav-link" href="{{ path('download') }}">Pobierz</a>

    {% for user in users %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5">Imię i nazwisko: {{ user.name }} {{ user.surname }}</h1>
                    <p class="lead">Startował na ocenę: {{ user.excersises.grade }}</p>
                    <ul class="list-unstyled">
                        <li>Zadania które dostał: {{ user.name }} {{ user.surname }}</li>
                        <li>{{ user.excersises.excersises }}</li>
                    </ul>
                    <img src="{{ asset('assets/uploads/' ~ user.imageFilename) }}" alt="praca: {{ user.name }} {{ user.surname }}">
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

