{% extends 'workspace/workspaceBase.html.twig' %}

{% block addClass %}
    href="{{ path('teacher_add_class', {'organisation': organisation }) }}"
{% endblock %}

    {% block listClass %}
        href="{{ path('teacher_list_classes', {'organisation': organisation}) }}"
    {% endblock %}

{% block addExam %}
    href="{{ path('teacher_create_exam', {'organisation': organisation}) }}"
{% endblock %}

{% block listExam %}
    href="{{ path('teacher_list_exams', {'organisation': organisation}) }}"
{% endblock %}

{% block main %}

    <div class="col-12 my-5">
        <h3>Aktywne sprawdziany</h3>
    </div>

    {% set index = 1 %}
    {% for exam in actual %}
        <div class="col-5 mx-auto bg-light border border-dark shadow my-3 p-2">
            <div class="d-inline-block">
                <strong>Id: {{ exam.id }}</strong>
                <p><strong>Tytuł sprawdzianu: </strong>{{ exam.title }}</p>
                <p><strong>Przedmiot szkolny: </strong>{{ exam.subject }}</p>
                <p> <strong>Nauczyciel zapowiadający: </strong> {{ exam.teacher.user.name }} {{ exam.teacher.user.surname }}</p>
                <p><strong>Szkoła w której odbywa się sprawdzian: </strong> {{ exam.organisation.name }} </p>
                <p><strong>Sprawdzian dla klasy: </strong>{{ exam.class.name }}</p>
                <p><strong>Czy sprawdzian jest aktywny: </strong>{% if exam.isActive == 0 %}nie{% else %}tak{% endif %}</p>
                <p><strong>Data utworzenia sprawdzianu: </strong>{{ exam.createDate|date('H:i d.m.Y') }}</p>
                <p><strong>Data zakończenia sprawdzianu: </strong>{{ exam.activeDate|date('H:i d.m.Y') }}</p>
                <div class="d-inline-block float-right">
                    <a class="btn btn-outline-info my-2" href="{{ path('teacher_add_exersises', {'organisation': organisation, 'examId': exam.id}) }}"><i class="fa fa-table"></i></a>
                    <a class="btn btn-outline-primary my-2" href="{{ path('teacher_edit_exam', {'organisation': organisation, 'examId': exam.id}) }}"><i class="far fa-edit"></i></a>
                    <a class="btn btn-outline-danger my-2" href="{{ path('teacher_delete_exam', {'organisation': organisation, 'examId': exam.id}) }}"><i class="fas fa-times"></i></a>

                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                        Lista zadań
                    </button>

                    <a href="{{ path('teacher_activate_exam', {'organisation': organisation, 'examId': exam.id}) }}">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Aktywuj sprawdzian">
                            Ustaw sprawdzian jako aktywny
                        </button>
                    </a>

                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            {% set index = 1 %}
                            {% for exercise in exercises %}
                                {% if exercise.exam.id == exam.id %}
                                    <p><strong>Ocena za wykonanie zadań: </strong>{{ exercise.grade }}</p>
                                    <p> <strong>Zadania: </strong> {{ exercise.excersises }}</p>
                                    <p><strong>Grupa ocenowa: </strong> {{ exercise.exerciseGroup }} </p>

                                    <a class="btn btn-outline-primary my-2" href="{{ path('teacher_edit_exercise', {'organisation': organisation, 'exerciseId': exercise.id, 'examId': exercise.exam.id}) }}"><i class="far fa-edit"></i></a>
                                    <a class="btn btn-outline-danger my-2" href="{{ path('teacher_delete_exercise', {'organisation': organisation, 'exerciseId': exercise.id}) }}"><i class="fas fa-times"></i></a>

                                    <hr class="my-2">
                                    {% set index = index + 1 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set index = index + 1 %}
    {% endfor %}

    <div class="col-12 my-5">
        <h3>Wygasłe sprawdziany</h3>
    </div>

    {% set index = 1 %}
    {% for exam in expired %}
        <div class="col-5 mx-auto bg-light border border-dark shadow my-3 p-2">
            <div class="d-inline-block">
                <strong>Id: {{ exam.id }}</strong>
                <p><strong>Tytuł sprawdzianu: </strong>{{ exam.title }}</p>
                <p><strong>Przedmiot szkolny: </strong>{{ exam.subject }}</p>
                <p> <strong>Nauczyciel zapowiadający: </strong> {{ exam.teacher.user.name }} {{ exam.teacher.user.surname }}</p>
                <p><strong>Szkoła w której odbywa się sprawdzian: </strong> {{ exam.organisation.name }} </p>
                <p><strong>Sprawdzian dla klasy: </strong>{{ exam.class.name }}</p>
                <p><strong>Czy sprawdzian jest aktywny: </strong>{% if exam.isActive == 0 %}nie{% else %}tak{% endif %}</p>
                <p><strong>Data utworzenia sprawdzianu: </strong>{{ exam.createDate|date('H:i d.m.Y') }}</p>
                <p><strong>Data zakończenia sprawdzianu: </strong>{{ exam.activeDate|date('H:i d.m.Y') }}</p>
                <div class="d-inline-block float-right">
                    <a class="btn btn-outline-info my-2" href="{{ path('teacher_add_exersises', {'organisation': organisation, 'examId': exam.id}) }}"><i class="fa fa-table"></i></a>
                    <a class="btn btn-outline-primary my-2" href="{{ path('teacher_edit_exam', {'organisation': organisation, 'examId': exam.id}) }}"><i class="far fa-edit"></i></a>
                    <a class="btn btn-outline-danger my-2" href="{{ path('teacher_delete_exam', {'organisation': organisation, 'examId': exam.id}) }}"><i class="fas fa-times"></i></a>

                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Lista zadań
                    </button>

                    <a href="{{ path('teacher_activate_exam', {'organisation': organisation, 'examId': exam.id}) }}">
                        <button href="{{ path('teacher_activate_exam', {'organisation': organisation, 'examId': exam.id}) }}" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Aktywuj sprawdzian">
                            Ustaw sprawdzian jako aktywny
                        </button>
                    </a>

                    <a href="{{ path('teacher_show_exam_report', {'organisation': organisation, 'examId': exam.id}) }}">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Sprawdź sprawdzian">
                            Sprawdź rozwiązania uczniów
                        </button>
                    </a>

                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            {% set index = 1 %}
                            {% for exercise in exercises %}
                                {% if exercise.exam.id == exam.id %}
                                    <p><strong>Ocena za wykonanie zadań: </strong>{{ exercise.grade }}</p>
                                    <p> <strong>Zadania: </strong> {{ exercise.excersises }}</p>
                                    <p><strong>Grupa ocenowa: </strong> {{ exercise.exerciseGroup }} </p>

                                    <a class="btn btn-outline-primary my-2" href="{{ path('teacher_edit_exercise', {'organisation': organisation, 'exerciseId': exercise.id, 'examId': exercise.exam.id}) }}"><i class="far fa-edit"></i></a>
                                    <a class="btn btn-outline-danger my-2" href="{{ path('teacher_delete_exercise', {'organisation': organisation, 'exerciseId': exercise.id}) }}"><i class="fas fa-times"></i></a>

                                    <hr class="my-2">
                                    {% set index = index + 1 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set index = index + 1 %}
    {% endfor %}

{% endblock %}